@model Product
@{
	ViewData["Title"] = "Detail";
}

<table class="table table-striped table-bordered">
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Images</th>
        <th>Tags</th>
        <th>Shipping Information</th>
        <th>Number in Stock</th>

    </tr>
   
    <tr>
        <td>@Model.title</td>
        <td>@Model.price</td>
        <td>@Model.description</td>
        <td>
            @foreach (var image in @Model.images)
            {
                <img src=@image style="height: 100%;width: 100%" />
            }
        </td>
        <td>
            @foreach (var tag in @Model.tags)
            {
                <p>@tag</p>
            }
        </td>
        <td>@Model.shippingInformation</td>
        <td>@Model.stock</td>

        
        
            

    </tr>
    
</table>

<a asp-action="Index" asp-route-PageNum="@ViewBag.PageNum"  class="btn-black">Go Back</a>